{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Leaf Dashboard{% endblock %}</title>
    
    {% bootstrap_css %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    {% block extra_css %}{% endblock extra_css %}
</head>
<body>

    {% include "partials/navbar.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block modals %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

    {% bootstrap_javascript %}

{% block extra_js %}{% endblock extra_js %}
</body>
</html>